/* Estilos base para o site */

/* Estilos para links */
a:link, a:visited { 
    text-decoration: none; 
    transition: color 0.15s, background 0.15s; 
}

a:hover, a:active { 
    color:  var(--secondary-fg); 
}
